In [1]:
import numpy as np
import pandas as pd

In [2]:
pop2014 = pd.Series([100,99.3,95.5,93.5,92.4,84.8,84.5,78.9,74.3,72.8],
                    index=['Java','C','C++','Python','C#','PHP','JavaScript','Ruby','R','Matlab'])

In [3]:
pop2015 = pd.Series({'Java': 100,'C': 99.9,'C++': 99.4,'Python': 96.5,'C#': 91.3,
                     'R': 84.8,'PHP': 84.5,'JavaScript': 83.0,'Ruby': 76.2,'Matlab': 72.4})

In [5]:
two_years = pd.DataFrame({'2014': pop2014, '2015': pop2015})
two_years

             2014   2015
C            99.3   99.9
C#           92.4   91.3
C++          95.5   99.4
Java        100.0  100.0
JavaScript   84.5   83.0
Matlab       72.8   72.4
PHP          84.8   84.5
Python       93.5   96.5
R            74.3   84.8
Ruby         78.9   76.2

In [7]:
two_years.sort_values('2015')

             2014   2015
Matlab       72.8   72.4
Ruby         78.9   76.2
JavaScript   84.5   83.0
PHP          84.8   84.5
R            74.3   84.8
C#           92.4   91.3
Python       93.5   96.5
C++          95.5   99.4
C            99.3   99.9
Java        100.0  100.0