In [1]:
capitals = {'United States': 'Washington, DC','France': 'Paris','Italy': 'Rome'}

In [2]:
capitals['Italy']

'Rome'

In [3]:
capitals['Spain'] = 'Madrid'
capitals

{'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'United States': 'Washington, DC'}

In [4]:
capitals['Germany']

KeyError: 'Germany'

In [5]:
'Germany' in capitals

False

In [6]:
'Italy' in capitals

True

In [7]:
morecapitals = {'Germany': 'Berlin','United Kingdom': 'London'}

In [8]:
capitals.update(morecapitals)
capitals

{'France': 'Paris',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'United Kingdom': 'London',
 'United States': 'Washington, DC'}

In [9]:
del capitals['United States']
capitals

{'France': 'Paris',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'United Kingdom': 'London'}

In [10]:
for key in capitals:
    print(key,capitals[key])

France Paris
Italy Rome
Spain Madrid
Germany Berlin
United Kingdom London

In [11]:
for key in capitals.keys():
    print(key)

France
Italy
Spain
Germany
United Kingdom

In [12]:
for pokemon in capitals.():
    print(pokemon)

SyntaxError: invalid syntax (<ipython-input-12-fd66df0444a0>, line 1)

In [13]:
for pikachu, raichu in capitals.items():
    print(pikachu, raichu)

France Paris
Italy Rome
Spain Madrid
Germany Berlin
United Kingdom London

In [14]:
for value in capitals.values():
    print(value)

Paris
Rome
Madrid
Berlin
London

In [15]:
for key,value in capitals.items():
    print(key,value)

France Paris
Italy Rome
Spain Madrid
Germany Berlin
United Kingdom London

In [17]:
#list comprehension
squares = []

for i in range(10):
    squares.append(i**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
#comprehension
squares2 = [i**2 for i in range(10)]
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
squares3 = [i**2 for i in range(30) if i%4 == 0]
squares3

[0, 16, 64, 144, 256, 400, 576, 784]

In [29]:
squares3_dict = {i: i**2 for i in range(30) if i%3 == 0}
squares3_dict

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729}

In [30]:
capitals = {'United States': "Washington, DC", "France": "Paris"}
capitals

{'France': 'Paris', 'United States': 'Washington, DC'}

In [32]:
capitals_transposed = {capitals[key]: key for key in capitals}
capitals_transposed

{'Paris': 'France', 'Washington, DC': 'United States'}

In [39]:
capitals["United States"]

'Washington, DC'

In [42]:
[i**2 for i in range(10) if i%3==0]

[0, 9, 36, 81]

In [44]:
    sum([i**2 for i in range(10) if i%3 == 0])

126

In [45]:
# it is possible to skip the intermediate step of 
# creating the list in the sum function
sum(i**2 for i in range(10) if i%3 == 0)

126